div{
    div{
        .footer{display: flex;
            text-align: center;
            align-items: center;
            align-content: center;
            justify-content: center;
            color: rgb(0, 0, 0);
                .footer_derechos{padding-top: 8px;}
                .footer_redes{padding-left: 5px;}

            }
    }
}