.contacto section div .contacto_titulos_dos, .contacto section div .contacto_titulos_uno {
  display: flex;
  justify-content: start;
  font-style: solid;
  font-size: 45px;
  text-decoration: underline;
  color: #fff;
  padding-top: 20px;
  padding-left: 15px;
}

.contacto section section .contacto_check, .contacto section section .contacto_acepto, .contacto section section .contacto_preguntas {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

div div .footer {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}
div div .footer .footer_derechos {
  padding-top: 8px;
}
div div .footer .footer_redes {
  padding-left: 5px;
}

.galeria section div div div img {
  width: 300px;
  height: 800px;
}
.galeria section div h1 {
  text-decoration: underline;
  text-align: center;
}

.contacto {
  display: flex;
  background-image: url(../images/fondo\ contacto\ pc.jpg);
  background-size: cover;
  height: 20cm;
  align-content: center;
  justify-content: space-between;
}
.contacto section div .contacto_titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
}
.contacto section div .contacto_titulos_uno {
  padding-top: 60px;
}
.contacto section section .contacto_formulario {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background: hwb(0 100% 0%/0.459);
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  width: 350px;
  height: 500px;
}
.contacto section section .contacto_formulario_titulo {
  display: none;
}
.contacto section section div #acepto {
  font-size: 15px;
  padding-top: 2px;
  padding-left: 2px;
}
.contacto section section div .contacto_check {
  display: flex;
}
.contacto section section div .contacto_check_boton {
  margin-top: -10px;
  padding-left: 50px;
  border: 2px solid #000;
}
.contacto section section #contacto_enviar {
  border: 1px solid #000;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  border-radius: 5px;
  align-self: center;
  font-size: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

@media screen and (max-width: 830px) {
  .contacto {
    display: flex;
    background-image: url(../images/fondo\ contacto\ pc.jpg);
    background-size: cover;
    height: 20cm;
    align-content: center;
    justify-content: space-between;
  }
  .contacto section div .contacto_titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: white;
  }
  .contacto section div .contacto_titulos_uno {
    padding-top: 60px;
  }
  .contacto section section .contacto_formulario {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: hwb(0 100% 0%/0.459);
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 350px;
    height: 500px;
  }
  .contacto section section .contacto_formulario_titulo {
    display: none;
  }
  .contacto section section div #acepto {
    font-size: 15px;
    padding-top: 2px;
    padding-left: 2px;
  }
  .contacto section section div .contacto_check {
    display: flex;
  }
  .contacto section section div .contacto_check_boton {
    padding-left: 10px;
  }
}
main section .equipo_descripciones_lente1 {
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}
main section .equipo_descripciones_lente2 {
  font-size: 20px;
  text-align: center;
  padding-top: 60px;
}
main section .equipo_descripciones_luces {
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
}
main section .equipo_descripciones_laptop {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}
main section .equipos_descripciones_camara {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  margin-left: 30px;
}
main section .equipos_imagenes {
  display: flex;
  flex-direction: column;
  transition: trasform 2s ease-in-out;
}
main section .equipos_imagenes:hover {
  transform: scale(1.5);
  margin-left: 1%;
  margin-top: 3%;
}
main section section .equipos_titulo {
  text-align: left;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  main section section .equipos_titulo {
    text-align: center;
    margin-left: 15px;
  }
}
main section .sobremi_titulo {
  text-align: center;
  padding-top: 6%;
  font-size: 70px;
}
main section .sobremi_img {
  padding-left: -10%;
}
main section div .sobremi_parrafo {
  text-align: center;
  font-size: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  width: auto;
}

@media screen and (max-width: 768px) {
  main section div .sobremi_parrafo {
    margin-left: 0%;
    margin-right: 0%;
  }
}
div div div .titulo_index {
  display: flex;
  color: #000;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  align-self: center;
}
div section div .cuerpo_img_uno {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 10cm;
  padding: 0%;
  margin: 0%;
  border: 0cm;
  margin-bottom: 20px;
  transition: trasform 2s ease-in-out;
}
div section div .cuerpo_img_uno:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  div div div .titulo_index {
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
  }
  div section .index_grupos2y3 {
    display: none;
  }
}
.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-right: 0%;
  align-content: space-around;
}
.header .header_nav {
  display: flex;
  align-content: space-between;
}
.header .header_logo {
  padding-top: 6px;
}
.header .header_titulo {
  margin-left: 0%;
  padding-left: 10px;
  color: rgb(61, 65, 63);
  font-style: italic;
  text-decoration: underline;
}
.header nav .header_titulo_movil {
  display: none;
}
.header nav div ul .header_links {
  transition: trasform 2s ease-in-out;
}
.header nav div ul .header_links:hover {
  transform: scale(1.5);
  color: aqua;
}

@media screen and (max-width: 768px) {
  .header {
    width: 300px;
    height: auto;
    flex-wrap: wrap;
  }
  .header .header_titulo {
    display: none;
  }
  .header .header_logo {
    display: none;
  }
  .header nav .header_titulo_movil {
    display: flex;
    color: black;
    flex-wrap: nowrap;
    margin-left: 10px;
    padding-left: 10px;
    color: rgb(67, 70, 69);
    font-style: italic;
    text-decoration: underline;
  }
}/*# sourceMappingURL=styles.css.map */