*{margin: 0;
padding: 0;}


.body{display: grid;
grid-template-areas: 
"header"
"cuerpo"
"footer";
grid-template-rows: 70px 1fr 60px ;
grid-template-columns: 1fr;
height: 100vh;
margin: 0%;
padding: 0%;
}

/*---------------------------------------aqui empieza header de index------------------------------------*/




.header{grid-area: header;
    display: grid;
    grid-template-areas:
    "logo"
    /*titulo*/
    "navegacion";
    grid-template-rows: 45px 25px ;
grid-template-columns: 1fr;
    background-color:#000;
justify-content: center;
flex-direction: column;}

.header h1{display: none;}

.header_logo{grid-area: logo;
    display: flex;
justify-content: center;
align-items: center;
margin-bottom: 0px

;}

.header_logo img{
height: 40px;
padding: 0px;
margin: 0px;} 

/*.header_titulo{grid-area: titulo;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
color: #fff;
margin-top: 0%;
margin-bottom: 0%;
padding-bottom: 0px;}*/

.header_nav{grid-area: navegacion;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header ul{grid-area: navegacion;
    display:flex;
    font-size: 10px;
    list-style-type: none;
    
   
}




.header_nav ul li{display: flex;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    
   }




/*---------------------------------------aqui empieza cuerpo de index------------------------------------*/




.cuerpo{grid-area: cuerpo;
    display:grid;
  grid-template-areas:
  "cuerpo_uno cuerpo_dos cuerpo_tres"
  "cuerpo_uno cuerpo_dos cuerpo_tres"
  "cuerpo_uno cuerpo_dos cuerpo_tres";
  grid-template-rows: (1fr 1fr 1fr);
  grid-template-columns: (1fr 1fr 1fr);
  margin: 0%;
  padding: 0%;
  background-color: #000;

 }

 .cuerpo_uno{grid-area: cuerpo_uno;
display: flex;
flex-direction: column;
}


.cuerpo_dos{grid-area: cuerpo_dos;
display: flex;
flex-direction: column;}


.cuerpo_tres{grid-area: cuerpo_tres;
display: flex;
flex-direction: column;}

.cuerpo_img_uno{height:33.3333%;
width: 100%;}


.cuerpo_img_chica{height: 70%;
width: 100%;}

.cuerpo_img_chico{height: 30%;
width: 100%;}

/*---------------------------------------aqui empieza footer ------------------------------------*/





.footer{grid-area: footer;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
background-color: #000;
color: #fff;
margin-top: 0px;
padding-top: 6px;}

.footer_redes{padding-left: 15px;}

/*---------------------------------------aqui empieza galeria------------------------------------*/

.galeria{grid-area: cuerpo;
grid-template-areas:
"objetos"
"paisajes"
"retratos";
grid-template-rows: (1fr 1fr 1fr);
grid-template-columns: (1fr);
flex-direction: column;
}


.galeria_objetos {grid-area:objetos;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
width: 1fr;
height: 1fr;
}

.galeria_paisajes {grid-area: paisajes;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
width: 1fr;
height: 1fr;
}

.galeria_retratos{grid-area: retratos;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
width: 1fr;
height: 1fr;
}


.galeria_titulos{display: flex;
justify-content: center;
padding-top: 10px;
padding-bottom: 10px;}

.galeria img{width: 100%;
height: 100%;
padding: 0px;
margin: 0px;
border: 0px;
}





/*---------------------------------------aqui empieza contacto------------------------------------*/

.contacto{grid-area: cuerpo;
display: grid;
grid-template-areas: 
"titulos"
"formulario";
grid-template-rows: (1fr 1fr);
grid-template-columns: (1fr);
background-color: #000;
background-image: url(../images/fondo\ contacto\ movil.jpg) ;
background-repeat: no-repeat;
background-size: cover;
}




.contacto_titulos{grid-area: titulos;
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
color: white;
}

.contacto_titulos_uno,
.contacto_titulos_dos{grid-area: titulos;
display: flex;
justify-content: start;
font-style: solid;
font-size: 30px;
text-decoration: underline;
padding-top: 20px;
}


.contacto_titulo_colaboraciones{ padding-bottom: 60px;}



.contacto_formulario{
display: flex;
flex-wrap: nowrap;
flex-direction: column;
border-style: none;
border-radius: 0;
background: hwb(0 100% 0% / 0.459);
justify-content: center;
align-items: center;
padding-top: 15px;
padding-bottom: 20px;
padding-left: 0px;
padding-right: 0px;
width: 1fr;
height: 1fr;

}


.contacto_preguntas,
.contacto_acepto,
.contacto_check {grid-area: formulario;
    display: flex;
    
    padding-top: 2mm;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    color: #000;
    font-style: normal;
    font-weight: bold;
    padding-left: 0px;
padding-right: 0px;

}

.contacto_formulario_titulo{display: none;
font-size: 0px;
padding-bottom: 0px;
font-weight: bold;
text-decoration: underline;
padding-left: 0px;
padding-right: 0px;}


#acepto{font-size: 15px;}

.contacto_check{display: flex;}

.contacto_check_boton{margin-top: 13px;}


#contacto_enviar{
    border: 01px solid #000;
    text-decoration: solid;
    border-radius: 5px;
    align-self: center;
    font-size: 15px;
    margin-top: 10px;
    padding-left: 0px;
padding-right: 0px;
    
}

/*---------------------------------------aqui empieza equipos------------------------------------*/

.equipos{ grid-area: cuerpo;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;

}


.equipos img {width: 3cm;
height: 3cm;}




/*---------------------------------------aqui empieza sobre mi------------------------------------*/


.sobremi{grid-area: cuerpo;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}




/*---------------------------------------aqui empieza media queries------------------------------------*/







@media screen and (min-width: 768px) {
    .body {display: grid;
        grid-template-areas: 
        "header header header"
        "cuerpo cuerpo cuerpo"
        "footer footer footer";
        grid-template-rows: 70px 1fr 60px ;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100vh;
        margin: 0%;
        padding: 0%;}




               /*-----------header queries------------*/


        .header{grid-area: header;

            display: grid;
            grid-template-areas: 
            "logo titulo navegacion";
            
        grid-template-columns: 50px 300px 1fr;
        grid-template-rows: 60px;
            
            background-color: rgb(255, 255, 255);
            align-content: center;
            align-items: center;
            align-content: center;
            justify-content: space-between;
           
            
            }
            
            
            
            .header_logo{grid-area: logo;
                display: flex;
                flex-wrap: nowrap;
            align-items: center;
            justify-self: start;
            margin-left: 0px;
            padding: 0%;
            padding-left: 15px;
        }

                
            
            
            
            .header_titulo{grid-area:titulo;
                color: #000;
                font-size:50px;
                font-style: italic;
                text-decoration: underline;
            justify-self: start;
            width: 100%;
            padding-left: 15px;
            padding-bottom: 5px;
            margin-left: 15px;
            animation-name: animacion_titulo;
            animation-duration: 5s;
            animation-iteration-count: 1;
            
            }

            
            
            .header_nav{
                grid-area: navegacion;
                list-style: none;
                display:flex;
                align-items: center;
                justify-self: end;
                width: auto;
                padding-right: 30px;
            }
            
            .header h1{display: flex;
                color: rgb(0, 0, 0);
                justify-items: start;
                align-items: start;}

            


            .header ul{grid-area: navegacion;
                    display:flex;
                    font-size: 30px;
                padding-left: 10px;
                padding-right: 10px;
            }

                                 /*-----------galeria queries------------*/

   .galeria_imagenes_objetos{display: flex;
flex-direction: row;
justify-content: space-between;}


.galeria img{height: 10cm;
width:10cm;
padding: 0%;
margin: 0%;
border: 0px;
transition: all 0.5s;}

.galeria img:active{
    width: 15cm;
    height: 15cm;
}


.galeria_imagenes_paisajes{display: flex;
    flex-direction: row;
    justify-content: space-between;}
    .galeria img{height:1fr;
    width: 15cm;}


.galeria_imagenes_retratos{display: flex;
        flex-direction: row;
        justify-content: space-between;}
        .galeria img{height:1fr;
        width: 33.3333%;}

                    /*-----------equipos queries------------*/
    
      .equipos{ grid-area: cuerpo;
   flex-direction: row;
      }



    .equipos_camara{display: flex;}
    .equipo_titulo_img{display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
}

.equipos img{height: 8cm;
width: 8cm;}


    .equipos_laptop{display: flex;
    flex-direction: row;}


    .equipos_luces{display: flex;
    flex-direction: row;}

    .equipos_lente_1{display: flex;
    flex-direction: row;}

    .equipos_lente_2{display: flex;
    flex-direction: row;}
    

    .equipos_titulo{font-size: 50px;}


   .equipos p{font-size: 20px;
height: 3cm;
width: 20cm;
padding-top: 5cm;
padding-left: 50px;}
    




         
        
                         /*-----------sobre mi queries------------*/

       .sobremi{display:flex;
        flex-wrap: wrap;
        
    }
    



    .sobremi_img{display:flex;
        flex-wrap: wrap;
    
        align-content: flex-end;
        width: 22cm;
        height: 25cm;
        z-index: 1;
        padding-left: 0;
        margin-right: 0px;
    }
    
    .sobremi_titulo{display: flex;
        
       
       font-style: italic;
       color: rgb(150, 150, 150);
       text-decoration: underline;
       font-size: 3cm;
       z-index: 2;
       text-align: end;
       margin-left: 138px;
       margin-right: -40px;
       padding-right: -20px;
       margin-top: 30px;
       
       }
    
    
    
       
       
    
    .sobremi_parrafo{display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 30px;
    width: 22cm;
    padding-top: 30px;
}
    
                        /*-----------contactos queries------------*/

  .contacto{
    
    display: flex;
background-image: url(../images/fondo\ contacto\ pc.jpg);
background-size:cover;
background-attachment: inherit;
height: 20cm;
width: 1fr;
justify-content: space-between;
}



.contacto_formulario_titulo{display: flex;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;}




.contacto_titulos{grid-area: titulos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: white;
    }
    
    .contacto_titulos_uno,
    .contacto_titulos_dos{grid-area: titulos;
    display: flex;
    justify-content: start;
    font-style: solid;
    font-size: 100px;
    text-decoration: underline;
    padding-top: 80px;
    
    padding-left: 15px;}
    
  
    
    
    
    .contacto_formulario{grid-area: formulario;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: none;
    border-radius: 0;
    background: hwb(0 100% 0% / 0.459);
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    padding: 15mm;

    }
    
    
    .contacto_preguntas,
    .contacto_acepto,
    .contacto_check {grid-area: formulario;
        display: flex;
        
        padding-top: 5mm;
        font-size: 25px;
        margin-top: 30px;
        text-align: center;
        align-items: center;
        color: #000;
        font-style: normal;
        font-weight: bold;
        border-radius: 5px;
        padding-left: 5mm;
        padding-right: 5mm;
    
    }
    
    .contacto_formulario_titulo{display: none;
    font-size: 35px;
    padding-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;}
    
    
    #acepto{font-size: 15px;}
    .contacto_check{display: flex;}
   .contacto_check_boton{margin-top: 48px;}
    
    
    #contacto_enviar{
        border: 01px solid #000;
        text-decoration: solid;
        border-radius: 5px;
        align-self: center;
        font-size: 15px;
        margin-top: 10px;
        
    }

}


@keyframes animacion_titulo {
    0% {transform: translateX(500px);
        
    }
    10% {
      color: green;
    }
    30% {
      color: blue;
    }
    60% {
      color: coral;
    }
    80% {
      color: gray;
    }
    100% {
    }
  }